﻿*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    width: 210mm;
    margin: 0 auto;
    padding: 0px 0;
    font-family: 'Poppins', sans-serif;
    color: #4C566A;
    position: relative;
}

header {
    height: 175px;
    padding: 15px 0 0 0px;
    overflow: hidden;
}

header>.col-md-12 {
    height: 100%;
}

header .resume-title {
    position: absolute;
    width: calc(100% - 80px);
    z-index: 2;
}

header .resume-title h2 {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    color: #2E3440;
    line-height: 1em;
    letter-spacing: 0.04em;
    width: fit-content;
    width: -moz-fit-content;
    border-bottom: solid 4px #8FBCBB;
    padding-bottom: 10px;
}

header .resume-title .space {
    padding-left: 10px;
}

header .resume-designation {
    width: 100%;
    margin-top: 4px;
    display: inline-block;
}

header .resume-designation h3 {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2E3440;
    vertical-align: middle;
}

header .info {
    column-count: 3;
}

header .languages span,
header .info span {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
}

header .languages span {
    padding-right: 5px;
}

header .languages .language-name,
header .languages .language-level,
header .info .info-text {
    font-weight: 500;
    color: #2E3440;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

header .languages .language-name {
    padding-left: 5px;
    padding-right: 5px;
}

header .picture-size {
    width: 20%;
    border-radius: 50%;
    border: solid 4px#8FBCBB;
    left: 570px;
    top: 20px;
    position: absolute;
}

@media print {
    header .picture-size {
        width: 20%;
        border-radius: 50%;
        border: solid 4px#8FBCBB;
        left: 670px;
        top: 20px;
        position: absolute;
    }
}

header a:active,
header a:hover,
header a {
    color: #2E3440;
}

section {
    padding-left: 15px;
}

.main-container {
    margin-top: 0px;
    background-color: #ffffff;
}

.main-container .offset-lt {
    padding-right: 30px;
}

.markdown-body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #2E3440;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}

.markdown-body a {
    background: transparent;
}

.markdown-body strong {
    font-weight: bold;
}

.markdown-body h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.markdown-body * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.markdown-body a {
    color: #2E3440;
    text-decoration: none;
}

.markdown-body hr:before {
    display: table;
    content: "";
}

.markdown-body hr:after {
    display: table;
    clear: both;
    content: "";
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 1.1;
    color: #434C5E;
}

.markdown-body h1 {
    font-size: 24px;
    color: #8FBCBB;
}

.markdown-body h3 {
    font-size: 15px;
}

.markdown-body h4 {
    font-size: 10px;
}

.markdown-body ul,
.markdown-body ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-body h1~h3+ul {
    column-count: 4;
}

.markdown-body>*:first-child {
    margin-top: 0 !important;
}

.markdown-body>*:last-child {
    margin-bottom: 20px !important;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    position: relative;
    margin-bottom: 5px;
    font-weight: bold;
}

.markdown-body h1 {
    padding-bottom: 0px;
    font-size: 24px;
}

.markdown-body h3+h3,
.markdown-body h3 {
    display: inline;
}

.markdown-body h3+h3 {
    padding-left: 15px;
}

.markdown-body h4 {
    padding-left: 0px;
}

.markdown-body hr {
    border: none;
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
    margin-top: 0px;
    margin-bottom: 8px;
}

.markdown-body p {
    font-size: 10px;
    font-weight: 300;
    padding-left: 0px;
    padding-bottom: 8px;
}

.markdown-body h1+ul,
.markdown-body h1+h3~ul,
.markdown-body ol {
    padding-left: 2em;
    font-size: 10px;
}

.markdown-body ul {
    font-size: 10px;
    padding-left: 2em;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-body li>p {
    margin-top: 10px;
}

@media print {
    .markdown-body h1~p+ul {
        column-count: 3;
        display: flex;
    }
}