﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="robots" content="noindex">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900" rel="stylesheet">

    <!-- Template CSS  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" id="colors" href="{{asset 'css/layout.css'}}" type="text/css">
    <link rel="stylesheet " href="{{asset 'css/paper.css'}}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js "></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js "></script>
      <![endif]-->
    <script src="https://kit.fontawesome.com/6af2dc827f.js " crossorigin="anonymous "></script>
</head>

<body class="A4">
    <div class="container main-container ">
        <header>
            <div class="col-md-12 ">
                <div class="resume-title ">
                    <h2>{{name}}<span class="space "></span>{{lastname}}</h2>
                    <div class="resume-designation ">
                        <h3>{{jobtitle}}</h3>
                    </div>
                    <div class="info">
                        {{#each icons}}
                        <span class="{{icon}}"><span class="info-text space">{{value}}</span></span>{{/each}}
                    </div>
                    <div class="languages">
                        {{#each languages}}
                        <span class="fas fa-language"><span class="language-text language-name space">{{name}}:</span><span class="language-text language-level">{{level}}</span></span>{{/each}}
                    </div>
                </div>
            </div>
            <div class="picture ">
                <img src="{{asset 'img/'}}{{picture}} " class="picture-size " alt>
            </div>
        </header>
        <section class="content ">
            <div class="row ">
                <div class="col offset-lt markdown-body ">
                    {{~> content}}
                </div>
            </div>
        </section>
    </div>
    <footer>
    </footer>
    <!-- =========================================
         Scripts
         ========================================== -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js " integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js " integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 " crossorigin="anonymous "></script>
</body>

</html>